text {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.label {
  font-size: 20px;
}

.concept {
  font-size: 30px;
}

.grey {
  opacity: 0.5;
}

.hidden {
  opacity: 0;
}

 body {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }

.annotation path {
  shape-rendering: crispEdges;
  stroke: #141414;
  fill: rgba(0,0,0,0);
}

line {
  stroke-width: 2px;
  stroke: black;
}

.annotation text {
  fill: #141414;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.7s;
  -moz-animation-duration:0.7s;
  animation-duration:0.7s;
}

.timeline-label {
  font-size: 0.8em;
}

.timeline-time {
  font-size: 0.7em;
}

.time-line {
  stroke: black;
  stroke-width: 2px;
}


.fill-opacity-0 {
  fill-opacity: 0;
}

.fill-opacity-20 {
  fill-opacity: 0.2;
}

.fill-opacity-40 {
  fill-opacity: 0.4;
}

.fill-opacity-60 {
  fill-opacity: 0.6;
}

.fill-opacity-80 {
  fill-opacity: 0.8;
}

pre.language-js {
  background: black;
}


