svg {
}

.label {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

 body {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }

.annotation path {
  shape-rendering: crispEdges;
  stroke: #E8336D;
  fill: rgba(0,0,0,0);
}

.annotation text {
  fill: #e91e56;
}

