import Bootcamp from 'dev-academy'
import { dieMaybe, becomeDeveloper } from 'fate'
import me from './me'

const bootcampExperiences = Bootcamp()
me.lifestory = me.lifestory.concat(bootcampExperiences) 

while (me.isAlive) {
  let myIdentity = me.getLifeStory()

  if (myIdentity.canIDoIt) { // evaluates true!
    continue
  }

  becomeDeveloper(me) 
  // haveKids(me)
  // getMortgage(me)

  me.isAlive = dieMaybe()
}



