import { developerStereotype } from 'globals'
import { dieMaybe, becomeDeveloper } from 'fate'
import { fuzzyEquals } from 'lodash'
import me, { makeIdentity } from './me'

while (me.isAlive) {
  let myIdentity = me.myLifeStory().reduce(makeIdentity)
  myIdentity.canIDoIt = fuzzyEquals(myIdentity, developerStereotype)
  if (myIdentity.canIDoIt) {
    continue
  }

  becomeDeveloper(me) 
  // haveKids(me)
  // getMortgage(me)

  me.isAlive = dieMaybe()
}

